@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'Great Vibes';
    src: url('font\Great_Vibes.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
} */